<!DOCTYPE html>
<html lang="en">
<head>
    <title>新京师方舟教育</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href="/static/css/elegant-fonts.css">

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href="/static/css/themify-icons.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="/static/css/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="single-page single-cause">
<header class="site-header">
    <div class="nav-bar">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                    <div class="site-branding d-flex align-items-center">
                        <a class="d-block" href="{% url 'index' %}" rel="home"><img class="d-block" src="/media/{{ logo }}" alt="logo"></a>
                    </div><!-- .site-branding -->

                    <nav class="site-navigation d-flex justify-content-end align-items-center" id="menu-target">
                        <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                            <li><a href="{% url 'index' %}">首页</a></li>
                            <li><a href="{% url 'about' %}">新京师方舟教育</a></li>
                            <li><a href="{% url 'causes' %}">业务体系</a></li>
                            <li class="current-menu-item"><a href="{% url 'portfolio' %}">企业合作共赢</a></li>
                            <li><a href="{% url 'single-news' %}">最新消息</a></li>
                            <li><a href="{% url 'single-causes' %}">在线报名</a></li>
                            <li><a href="{% url 'concat' %}">联系我们</a></li>
                        </ul>
                    </nav><!-- .site-navigation -->

                    <div class="hamburger-menu d-lg-none" id="menu-span" onclick="show_menu();">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div><!-- .hamburger-menu -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .nav-bar -->
</header><!-- .site-header -->

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>企业合作共赢</h1>
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .page-header -->

<div class="highlighted-cause">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7 order-2 order-lg-1">
                <div class="section-heading">
                    <h2 class="entry-title">合作共赢</h2>
                </div><!-- .section-heading -->

                <div class="entry-content mt-5">
                    <p>{{ winwin_descriotion }}</p>

                </div><!-- .entry-content -->

            </div><!-- .col -->

            <div class="col-12 col-lg-5 order-1 order-lg-2">
                <img src="/media/{{ winwin_image }}" alt="">
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .highlighted-cause -->

<div class="part-cause">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2 class="entry-title">寻找合伙人</h2>
                </div><!-- .section-heading -->
            </div><!-- .col -->
        </div><!-- .row -->

    </div><!-- .container -->
</div><!-- .featured-cause -->

<div class="portfolio-wrap">
    <div class="container">
        <div class="row portfolio-container">
            {% for each in lookingparter %}
            <div class="col-12 col-md-6 col-lg-3 ">
                <div class="portfolio-cont">
                    <a><img src="/media/{{ each.current_image }}" alt="缺少头像"></a>

                    <h3 class="entry-title"><a>{{ each.name }}</a></h3>
                    <h4>{{ each.content }}</h4>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
</div>


    {% include 'bottom.html' %}
</body>
</html>